@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,800&family=Open+Sans&family=Roboto+Condensed&display=swap');

:root {
  --primary-bg: #304C89;
  --accent-text: #F5E0B7;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}

.navbar {
  background-color: var(--sky-900);
  overflow: hidden;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  float: left;
  display: block;
  color: var(--amber-100);
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
}

.navbar a:visited {
  color: var(--amber-100);
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

a {
  color: #00A9A5;
}

a:visited {
  color: #082D0F;
}

.right-side {
  display: flex;
  align-items: center;
  color: white;
}

.welcome {
  padding-right: 2rem;
}

p.version {
  float: right;
  padding: 14px 16px;
  color: var(--amber-100);
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sky-900);
  color: var(--amber-100);
  width: 100%;
  margin-top: auto;
}

ul {
  line-height: 2;
}

ul.footer-links {
  line-height: 1;
  text-align: center;
  list-style-type: none;
  color: var(--amber-100);
}

ul.footer-links li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

ul.footer-links a {
  text-decoration: none;
  color: var(--amber-100);
}

div.middle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.text-align-center {
  text-align: center;
}

input.form-control {
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
}

form {
  flex: 4;
  display: flex;
  flex-direction: column;

  textarea {
    font-size: small;
    flex-grow: 2;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 15px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  }
}

.alert {
  padding: 1rem;
  border: solid 1px #FF5C3A;
  background: #FF8C74;
  color: var(--amber-100);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.code-block {
  max-height: 75vh;
  overflow: scroll;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.72);
  position: relative;
  flex-grow: 1;
}

.copy {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px;
  border: solid 1px #CCC;
  border-radius: 10px;
}

button {
  font-size: 16px;
  padding: 12px 16px;
  background: var(--sky-800);
  color: var(--amber-100);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all ease 0.3s;

  &:hover {
    background: var(--sky-600);
    color: var(--amber-100);
    transform: translate3d(0, -1px, 0) scale(1.03);
  }

  &:active {
    background: var(--sky-900);
  }

  &.lrg {
    font-size: 20px;
    padding: 15px 30px;
  }

  &.sm {
    font-size: 14px;
    padding: 8px 10px;
  }

  &.xs {
    font-size: 12px;
    padding: 6px 8px;
  }

  &.outset {
    box-shadow: inset 0 1px 0 hsl(224, 84%, 74%), 0 1px 3px hsla(0, 0%, 0%, 0.2);
  }
}


.info {
  border: solid 1px #ccc;
  padding: 2rem;
  border-radius: 10px;
  background: #fff8ee;
}

.burn {
  accent-color: var(--sky-900);
  padding: 15px 0 15px 0;
}

#recent-posts {
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  padding: 1rem;
  background: white;
  /* Adds a white background */
  border-radius: 15px;
  /* Rounds the corners of the container */
  max-width: 600px;
  /* Sets a max-width for better layout */
  flex: 1;
}

#recent-posts h1 {
  color: var(--sky-900);
  /* Darker color for the title for better readability */
  font-size: 24px;
  /* Larger font size for the title */
}

#recent-posts ul {
  list-style: none;
  /* Removes default list styling */
  padding: 0;
  /* Removes default padding */
  padding-top: 10px;
  border-top: solid 1px var(--sky-900);
}

#recent-posts li {
  transition: all 0.5s ease;
  margin-bottom: 15px;
  border-radius: 10px;
  background: var(--gray-100);
  padding: 10px;
  /* Adds padding inside each list item */
}

#recent-posts li:hover {
  background: #e5e7eb;
}

#recent-posts a {
  text-decoration: none;
  color: var(--gray-800);
  /* Sets the link color to a dark shade */
  display: block;
  /* Makes the link fill the entire list item */
  width: 100%;
}

@keyframes copied-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

button svg {
  animation: copied-animation 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
