body {
  padding: 0;
  margin: 0;
}

main {
  padding: 1rem;
}

.navbar {
  background-color: #00F;
  overflow: hidden;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

p.version {
  float: right;
  padding: 14px 16px;
  color: #f2f2f2;
  font-size: 1rem;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="submit"], input[type="reset"] {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  background-color: #00F;
  color: white;
  border-radius: 4px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #00D;
}
